@media screen and (max-width:1420px) {
    html {
        font-size: 13px;
      }
      
}



@media (max-width: 1024px) and (min-width: 896px) and (orientation:landscape){
  #intro-bg__section{
    height: 45rem !important;
  }
  #about-bg__section{
    height: 45rem !important;
  }
  #gold-bg{
    width: 80% !important;
  }


  
 
}
@media (max-width: 896px) and (min-width: 300px) and (orientation:landscape){
  #intro-bg__section{
    height: 60rem !important;
  }
  #about-bg__section{
    height: 45rem !important;
  }
  #gold-bg{
    width: 50% !important;
  }


  
 
}
@media screen and (max-width:896px) {
  #intro-bg__section{
    height: 60rem !important;
  }

  #logo{
    background-size: contain;
  }
  
  
  
}







